# ------------ .NET -------------
bin/
obj/
out/
*.user
*.suo
*.userprefs
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Derleme ve test çıktıları
[Dd]ebug/
[Rr]elease/
TestResults/
coverage/
*.coverage
*.trx

App_Data/

#EF Core migration bundle
efbundle
efbundle.exe

# ------------ Secrets -------------

.env
.env.local
.env.*.local
appsettings.Production.json
*.pfx
*.key

# ------------ Node / Next.js -----------

node_modules/
.next/
.turbo/
next-env.d.ts
*.tsbuildinfo

# ----------- Docker -------------
docker/data/

# ----------- İşletim Sistemi -------------
.DS_Store
Thumbs.db
desktop.ini